* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
}
.logo {
  position: absolute;
  z-index: 1;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #00264d;
}
.login {
  background-color: #c6c2ca;
  padding: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.email i {
  color: white;
  background-color: #00264d;
  /* font-size: 40px; */
  padding: 12px 15px;
  margin: 6px -4px;
}

.email input[type="text"],
input[type="password"] {
  padding: 12.8px 20px;
  border: none;
  background-color: #7da8d3;
}
button {
  padding: 10px;
  width: 75%;
  border: none;
  display: block;
  margin: 1px auto;
  border-radius: 6px;
  font-size: small;
  background-color: #c6c2ca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: -1;
  color: white;
}
